.u-section-1 {
  background-image: url("images/willd-berries-buffaloberry-1024x575.jpg");
  background-position: 50% 50%;
}

#sec-263d {
    color:white !important;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  margin: 85px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  background-image: none;
  margin: 85px auto 60px;
  padding: 13px 40px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 14px;
    margin-bottom: 15px;
    padding-right: 7px;
    padding-left: 6px;
  }
}.u-section-2 {
  background-image: linear-gradient(to right, #082676, #0874a8);
}

.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/yolo_willd-berries-buffaloberry-1024x575.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-2 .u-text-1 {
  font-family: Aldrich;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 0 0 4px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 3.125rem;
  font-family: Aldrich;
  margin: 36px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 72px;
    margin-right: 72px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 31px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -7px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 23px;
  }
}.u-section-3 {
  background-image: linear-gradient(to right, #082676, #0874a8);
}

.u-section-3 .u-sheet-1 {
  min-height: 1805px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 304px;
  margin: 12px auto 0;
}

.u-section-3 .u-group-1 {
  width: 985px;
  min-height: 1098px;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 269px;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  width: 246px;
  height: 246px;
  background-image: url("images/ronok.png");
  background-position: 50% 50%;
  margin: 11px auto 0 370px;
}

.u-section-3 .u-image-2 {
  width: 246px;
  height: 246px;
  background-image: url("images/IMG_6224.jpeg");
  background-position: 50% 50%;
  margin: -255px 46px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 246px;
  height: 246px;
  background-image: url("images/Anu.jpg");
  background-position: 50% 50%;
  margin: -246px auto 0 46px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 42px 693px 0 46px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;
  width: 245px;
  margin: -163px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: -170px 56px 0 681px;
}

.u-section-3 .u-image-4 {
  width: 246px;
  height: 246px;
  background-image: url("images/profile-picture-default.png");
  background-position: 50% 50%;
  margin: 53px auto 0;
}

.u-section-3 .u-image-5 {
  width: 246px;
  height: 246px;
  background-image: url("images/Cedric.jpg");
  background-position: 50% 50%;
  margin: -246px 46px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 246px;
  height: 246px;
  background-image: url("images/unnamed.jpg");
  background-position: 50% 50%;
  margin: -246px auto 0 46px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  width: 245px;
  margin: 53px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: -150px 693px 0 46px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: -150px 29px 0 706px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 29px 479px 0 505px;
}

.u-section-3 .u-image-7 {
  width: 246px;
  height: 246px;
  background-image: url("images/Ryan.png");
  background-position: 50% 50%;
  margin: 25px auto 0 447px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 39px 459px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    min-height: 1154px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-right: 24px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 40px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 667px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 36px;
    margin-left: 683px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 78px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -239px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 59px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 648px;
    margin-left: 71px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -178px;
    margin-right: 24px;
    margin-left: 670px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -28px;
    margin-left: 405px;
    margin-right: 379px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 347px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin: 44px 359px 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2310px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 1593px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -11px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 22px;
    margin-right: 46px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 225px;
    margin-right: auto;
    margin-left: 46px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -717px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-right: 441px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -178px;
    margin-right: 45px;
    margin-left: 430px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 308px;
    margin-right: 441px;
    margin-left: 59px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 22px;
    margin-left: 46px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -246px;
    margin-right: 45px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -732px;
    margin-right: 45px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 518px;
    margin-right: 441px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -628px;
    margin-right: 59px;
    margin-left: 441px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 300px;
    margin-right: 59px;
    margin-left: 441px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -15px;
    margin-right: 269px;
    margin-left: 295px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 39px;
    margin-left: 237px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 29px;
    margin-left: 249px;
    margin-right: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2326px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 254px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -746px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 15px;
    margin-right: 307px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 346px;
    margin-right: 307px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    margin-top: -738px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 540px;
    margin-right: 306px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -679px;
    margin-right: 13px;
    margin-left: 307px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 323px;
    margin-right: -4px;
    margin-left: 291px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
    margin-right: 179px;
    margin-left: 205px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 159px;
    margin-right: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3227px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 251px;
    margin-top: 7px;
  }

  .u-section-3 .u-group-1 {
    min-height: 2638px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 396px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 153px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -1041px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 292px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 297px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 470px;
    margin-left: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: 151px;
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: -1090px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 460px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -532px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 707px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: -17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    margin-top: 48px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-10 {
    margin: 18px 0 41px;
  }
}